@if (loading$ | async) {
  <mat-spinner />
  } @else {

<ng-container>

<div class="d-flex justify-content-end mb-3">
  <button (click)="openDialog()" mat-button color="primary" appFontSize20>
    Registrar Inscripción
  </button>
</div>

<table mat-table [dataSource]="inscriptions$"  class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef appFontSize20>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Estudiante</th>
    <td mat-cell *matCellDef="let element">{{ getStudentName(element.student) | fullName:getStudentSecondName(element.student)}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Curso</th>
    <td mat-cell *matCellDef="let element">{{ getCourseName(element.course) }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="hour">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Fecha de la inscripción</th>
    <td mat-cell *matCellDef="let element">{{ element.hour | date:'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Usuario que la registró</th>
    <td mat-cell *matCellDef="let element">{{ getUserName(element.user) }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Acciones</th>
    <td mat-cell *matCellDef="let element">
      
      <button (click)="openDialog(element)" mat-icon-button color="primary" *ngIf="(authUser$ | async)?.role === 'ADMIN'">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- *ngIf="userRoleSession === 'ADMIN'" -->
      <button (click)="onDeleteInscription(element.id)" mat-icon-button color="warn">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</ng-container>
  }