<h2 mat-dialog-title>Crear clase</h2>
<div mat-dialog-content> 
  <form [formGroup]="classForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Profesor</mat-label>
          <mat-select formControlName="teacher">
            <mat-option value="Josué">Josué</mat-option>
            <mat-option value="Sofía">Sofía</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Curso</mat-label>
          <mat-select formControlName="course">
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="Base de Datos">Base de Datos</mat-option>
            <mat-option value="Java">Java</mat-option>
            <mat-option value="Python">Python</mat-option>
            <mat-option value="React Js">React Js</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Hora</mat-label>
          <input formControlName="hour" type="time" matInput />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSave()" mat-button>Guardar</button>
</div>
