@if (isLoading$ | async) {
  <mat-spinner />
  } @else {

<ng-container>

<div class="d-flex justify-content-end mb-3" *ngIf="(authUser$ | async)?.role === 'ADMIN'">
  <button (click)="openDialog()" mat-button color="primary" appFontSize20>
    Registrar Curso
  </button>
</div>

<table mat-table [dataSource]="(courses$| async) || []"  class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef appFontSize20>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Curso</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Profesor asignado</th>
    <td mat-cell *matCellDef="let element">{{ element.teacher }}</td>
  </ng-container>

  <ng-container matColumnDef="classes">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Cant. de clases</th>
    <td mat-cell *matCellDef="let element">{{ element.classes }}</td>
  </ng-container>

  <ng-container matColumnDef="hours">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Cant. de horas</th>
    <td mat-cell *matCellDef="let element">{{ element.hours }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Fecha de Inicio</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef appFontSize20>Acciones</th>
    <td mat-cell *matCellDef="let element">


      <button [routerLink]="element.id" mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      
      <button (click)="openDialog(element)" mat-icon-button color="primary" *ngIf="(authUser$ | async)?.role === 'ADMIN'">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- *ngIf="userRoleSession === 'ADMIN'" -->
      <button (click)="deleteCourseById(element.id)" mat-icon-button color="warn" *ngIf="(authUser$ | async)?.role === 'ADMIN'">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</ng-container>
  }