.info-coderhouse {
    text-align: center;
    margin: 20px;
}

.info-title {
    font-size: 2em; /* Tamaño del título */
    margin-bottom: 10px;
    color: #333;
}

.info-description {
    font-size: 1.2em; /* Tamaño del texto descriptivo */
    margin-bottom: 20px;
    color: #555;
}

.info-logo {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-top: 10px;
}