<h2 mat-dialog-title>Crear usuario</h2>
<div mat-dialog-content> 
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstname" matInput />
          <mat-hint>El nombre debe tener al menos 2 caracteres</mat-hint>
          <mat-error>{{
            userForm.get('firstname')?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="secondname" matInput />
          <mat-hint>El apellido debe tener al menos 2 caracteres</mat-hint>
          <mat-error>{{
            userForm.get('secondname')?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-error>{{
            userForm.get('email')?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error>{{
            userForm.get('role')?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Dirección</mat-label>
          <input formControlName="address" matInput />
          <mat-error>{{
            userForm.get("address")?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input formControlName="phone" matInput />
          <mat-error>{{
            userForm.get("phone")?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSave()" mat-button>Guardar</button>
</div>
